body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #ff66b2, #66ff66);
  margin: 0;
  padding: 0;
}

.intro {
  padding: 4rem 2rem;
  text-align: center;
}

.my-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

section {
  padding: 4rem 0;
}

.card {
  margin-bottom: 2rem;
}



.social-links .btn {
  margin: 0 0.5rem;
}



.profile {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.myimg {
  background-image: url("WhatsApp Image 2024-05-17 at 8.37.50 PM.jpeg");
  background-repeat: no-repeat;
  opacity: 0.3;
  background-size: cover;
  height: 750px; 
}

.profile-container {
  position: relative;
  overflow: hidden;
}

.profile-text {
  padding: 50px;
}

.profile-container .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .profile-text {
    text-align: center;
  }
}



